<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983642109584-u6p0umc9l9ra2a34najp327uco43l0sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983642109584-u6p0umc9l9ra2a34najp327uco43l0sv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983642109584-3amocvv1jdu6sulvalb399ufq1iiiblf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD13FBPaMsjm-9ZN72TGfrEg1EtPybOQao</string>
	<key>GCM_SENDER_ID</key>
	<string>983642109584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deckMaster</string>
	<key>PROJECT_ID</key>
	<string>deck-master-1a35a</string>
	<key>STORAGE_BUCKET</key>
	<string>deck-master-1a35a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983642109584:ios:2a8dfd2456ef665278ca15</string>
</dict>
</plist>